$headers: Prosto One, serif;
$borderButtons: 30px;

$transitionColor: color 0.3s ease-in-out;
$transitionBgColor: background-color 0.3s ease-in-out;
$transitionTransform: transform 0.3s ease-in-out;
$transitionBorder: border-color 0.3s ease-in-out;

// colors
$primary: #292929;
$mainBlack: #0D0D0D;
$black: #161616;
$black-blue: #1E2839;
$orange: #F7A121;
$white: #FFFFFF;
$opacityWhite: #ffffff80;
$grey: #EDEDED;
$darkRed: #5C0000;
$darkGrey: #80868F;
$darkWhite: #F7F4F1;
$darkWhite: #FBFBFB;
$darkOrange: #DA5413;
$headerColor: rgba(22, 22, 22, .4);
$overlayColor: rgba(18, 18, 18, .5);
$seaGreen: #024e66;
